/* Custom page */

.container {
  max-width: 1220px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: rgb(230, 230, 230);
  padding: 30px;
}

.button-container {
  margin-left: 34%;
  min-height:  95px;
  display: flex;
  align-items: flex-end;
}





