/* Custom page */

.container {
  max-width: 1220px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: rgb(230, 230, 230);
  padding: 30px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.post img {
  max-width: 100%;
}

.post {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 100ms ease-in-out;
}

.post:hover {
  transform: scale(1.1);
}

.post-content {
  padding: 20px;
}

.viewplus {
  width: 20%;
  height: 25%;
  font: 1.5em;
}




